/* Image hover zoom */
.img-wrapper {
	display: inline-block;
	overflow: hidden;
	max-height: 200px;
}

.img-wrapper img {
	-webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    vertical-align: middle;
}

.img-wrapper img:hover {
	transform:scale(1.2);
    -ms-transform:scale(1.2); /* IE 9 */
    -moz-transform:scale(1.2); /* Firefox */
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -o-transform:scale(1.2); /* Opera */
}

/* Text overlay image animation */
.item-type-line {
	text-align:center;
	margin:5px;
	position:relative;
	display: inline-block;
}

.item-container {
	height: 250px;
}

.item-hover,
.item-hover .mask,
.item-img,
.item-info {
	width: 400px;
	height: 200px;
}

.item-hover,
.item-hover .mask,
.item-img {
	position:absolute;
	top:0;
	left:0;
}

.item-type-line .item-hover {
	z-index:100;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	opacity:0;
	cursor:pointer;
	display:block;
	text-decoration:none;
	text-align:center;
}

.item-type-line .item-info {
	z-index:10;
	color:#ffffff;
	display:table-cell;
	vertical-align:middle;
	position:relative;
	z-index:5;
}

.item-type-line .item-info .headline {
	font-size:20px;
}

.item-type-line .item-info .line {
	 height:1px;
	 width:0%;
	 margin:15px auto;
	 background-color:#ffffff;
	-webkit-transition: all 500ms ease-out;
	-moz-transition: all 500ms ease-out;
	-o-transition: all 500ms ease-out;
	transition: all 500ms ease-out;

}

.item-type-line .item-info .date {
	font-size:12px;
}

.item-type-line .item-hover .mask {
	background-color:#000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity:0.5;
	z-index:0;
}

.item-type-line .item-hover:hover .line {
	width:40%;
}

.item-type-line .item-hover:hover {
	opacity:1;
}

.item-img {
	background-color:#7a548f;
	z-index:0;
}

/* SMK Accordion Styles*/

.smk_accordion {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}
/* Accordion Section */
.smk_accordion .accordion_in {
  position: relative;
  z-index: 10;
  margin-top: -1px;
  overflow: hidden;
}
/* Accordion Head */
.smk_accordion .accordion_in .acc_head {
  position: relative;
  font-size: 1.2em;
  padding: 10px;
  display: block;
  cursor: pointer;
  color: #17b0cd;
}

.acc_head {
    text-align: left;
}

.smk_accordion .accordion_in .acc_head .acc_icon_expand {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -9px;
  background: url(assets/plusminus.png) center 0;
}
/* Accordion Content */
.smk_accordion .accordion_in .acc_content {
  color: #333;
  padding: 0px 12px 10px 10px;
  border-radius: 10px;
}
.smk_accordion .accordion_in .acc_content h1:first-of-type,
.smk_accordion .accordion_in .acc_content h2:first-of-type,
.smk_accordion .accordion_in .acc_content h3:first-of-type,
.smk_accordion .accordion_in .acc_content h4:first-of-type,
.smk_accordion .accordion_in .acc_content h5:first-of-type,
.smk_accordion .accordion_in .acc_content h6:first-of-type {
  margin-top: 5px;
}
/* Accordion General */
.smk_accordion .accordion_in:first-of-type,
.smk_accordion .accordion_in:first-of-type .acc_head {

}
.smk_accordion .accordion_in:last-of-type,
.smk_accordion .accordion_in:last-of-type .acc_content {

}
.smk_accordion .accordion_in.acc_active > .acc_content {
  display: block;
}
.smk_accordion .accordion_in.acc_active > .acc_head {

}
.smk_accordion .accordion_in.acc_active > .acc_head .acc_icon_expand {
  background: url(assets/plusminus.png) center -18px;
}
.smk_accordion.acc_with_icon .accordion_in .acc_head,
.smk_accordion.acc_with_icon .accordion_in .acc_content {
  padding-left: 40px;
}

.accordion_view.smk_accordion.acc_with_icon {
    margin-bottom: 0;
}
/* End of Accordion Styles */

/* Tabs to Accordion Styles */
ul.tabs {
	margin: 0;
	padding: 0;
	list-style: none;
	height: auto;
	width: 100%;
}

ul.tabs li {
	float: left;
	margin: 0;
	cursor: pointer;
	padding: 0px 21px;
	line-height: 31px;
	color: gray;
	overflow: hidden;
	position: relative;
}

ul.tabs li:hover {
	opacity: .7;
}

ul.tabs li.active {
	color: #544d4d;
	opacity: 1;
	display: block;
}

.tab_container {
	border-top: none;
	clear: both;
  text-align: left;
	width: 100%;
	overflow: auto;
}

.tab_content {
	padding: 20px;
	display: none;
}

.tab_drawer_heading { display: none; }

/* End of tabs to accordion styles */

/* Tabs to Accordion Mobile Views */
@media screen and (max-width: 768px) {
  .tabs {
    display: none;
  }
  .tab_drawer_heading {
    background-color: #ccc;
    color: #fff;
    border-top: 1px solid #333;
    margin: 0;
    padding: 5px 20px;
    display: block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .d_active {
    background-color: #666;
    color: #fff;
  }
}

.mobile-table {
  display: none;
}

/* Responsive Tables Styles */
@media screen and (max-width: 600px) {
  table.stackable-table.stacktable.large-only {
    display: none;
  }
  .mobile-table {
    display: block;
  }
  td {
    width: 100%;
  }
}

/* Image Styles */
